<!DOCTYPE html>
<html>
  <head>
    <title>Aporia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript"> window.sessionURL = "<%= image_url('session_page.jpeg') %>" </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
